# Node 
node_modules/

# Build 
dist/
build/
.angular/

# Cesium huge files
frontend/src/assets/cesium/
frontend/public/cesium/

# environment files
services/*/src/environment.ts
frontend/environment.ts


# Logs
npm-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python (global ignore)
**/__pycache__/
*.py[cod]
