<div class="component-wrapper">

    <img class="image-not-found" src="../../../assets/globus-not-found.png" alt="Page Not Found!">

    <div class="text">
        <h1>404</h1>
        <h3>Page not found</h3>
        <p>
            we couldn't find the page you were looking for!
            it may be deleted or moved or even never existed!
            thank you for your understanding.
        </p>
        <button class="back-button" routerLink="/">Return to my amazing app!</button>
    </div>

    

</div>

