<!-- FORM UI -->
<div class="tool-panel">
  <form [formGroup]="trajectoryForm" (ngSubmit)="submit()">
    <h2 class="form-title">New Simulation</h2>

    <div class="form-grid">
      <div class="row">
        <label>Altitude</label>
        <input
          type="number"
          formControlName="alt"
          min="1"
          max="19000"
          placeholder="1 - 19,000 m"
        />
        <div
          class="error"
          *ngIf="
            trajectoryForm.get('alt')?.touched &&
            trajectoryForm.get('alt')?.invalid
          "
        >
          <span *ngIf="trajectoryForm.get('alt')?.errors?.['required']">
            Altitude is required
          </span>
          <span
            *ngIf="
              trajectoryForm.get('alt')?.errors?.['min'] ||
              trajectoryForm.get('alt')?.errors?.['max']
            "
          >
            Altitude must be between 1 and 19,000 meters
          </span>
        </div>
      </div>

      <div class="row">
        <label>Azimuth (°)</label>
        <input
          type="number"
          formControlName="azimuth"
          min="0"
          max="359"
          placeholder="0 - 359°"
        />
        <div
          class="error"
          *ngIf="
            trajectoryForm.get('azimuth')?.touched &&
            trajectoryForm.get('azimuth')?.invalid
          "
        >
          <span *ngIf="trajectoryForm.get('azimuth')?.errors?.['required']">
            Azimuth is required
          </span>
          <span
            *ngIf="
              trajectoryForm.get('azimuth')?.errors?.['min'] ||
              trajectoryForm.get('azimuth')?.errors?.['max']
            "
          >
            Azimuth must be between 0 and 359 degrees
          </span>
        </div>
      </div>

      <div class="row">
        <label>Elevation (°)</label>
        <input
          type="number"
          formControlName="elevation"
          min="-35"
          max="45"
          placeholder="-35 to 45°"
        />
        <div
          class="error"
          *ngIf="
            trajectoryForm.get('elevation')?.touched &&
            trajectoryForm.get('elevation')?.invalid
          "
        >
          <span *ngIf="trajectoryForm.get('elevation')?.errors?.['required']">
            Elevation is required
          </span>
          <span
            *ngIf="
              trajectoryForm.get('elevation')?.errors?.['min'] ||
              trajectoryForm.get('elevation')?.errors?.['max']
            "
          >
            Elevation must be between -35 and 45 degrees
          </span>
        </div>
      </div>

      <div class="row">
        <label>Latitude</label>
        <input
          type="number"
          formControlName="lat"
          min="-90"
          max="90"
          placeholder="-90 to 90°"
        />
        <div
          class="error"
          *ngIf="
            trajectoryForm.get('lat')?.touched &&
            trajectoryForm.get('lat')?.invalid
          "
        >
          <span *ngIf="trajectoryForm.get('lat')?.errors?.['required']">
            Latitude is required
          </span>
          <span
            *ngIf="
              trajectoryForm.get('lat')?.errors?.['min'] ||
              trajectoryForm.get('lat')?.errors?.['max']
            "
          >
            Latitude must be between -90 and 90 degrees
          </span>
        </div>
      </div>

      <div class="row">
        <label>Longitude</label>
        <input
          type="number"
          formControlName="lon"
          min="-180"
          max="180"
          placeholder="-180 to 180°"
        />
        <div
          class="error"
          *ngIf="
            trajectoryForm.get('lon')?.touched &&
            trajectoryForm.get('lon')?.invalid
          "
        >
          <span *ngIf="trajectoryForm.get('lon')?.errors?.['required']">
            Longitude is required
          </span>
          <span
            *ngIf="
              trajectoryForm.get('lon')?.errors?.['min'] ||
              trajectoryForm.get('lon')?.errors?.['max']
            "
          >
            Longitude must be between -180 and 180 degrees
          </span>
        </div>
      </div>

      <div class="row">
        <label>Mass (kg)</label>
        <input
          type="number"
          formControlName="mass"
          min="1"
          max="600"
          placeholder="1 - 600 kg"
        />
        <div
          class="error"
          *ngIf="
            trajectoryForm.get('mass')?.touched &&
            trajectoryForm.get('mass')?.invalid
          "
        >
          <span *ngIf="trajectoryForm.get('mass')?.errors?.['required']">
            Mass is required
          </span>
          <span
            *ngIf="
              trajectoryForm.get('mass')?.errors?.['min'] ||
              trajectoryForm.get('mass')?.errors?.['max']
            "
          >
            Mass must be between 1 and 600 kg
          </span>
        </div>
      </div>

      <div class="row">
        <label>Initial Speed (m/s)</label>
        <input
          type="number"
          formControlName="speed"
          min="1"
          max="514"
          placeholder="1 - 514 m/s"
        />
        <div
          class="error"
          *ngIf="
            trajectoryForm.get('speed')?.touched &&
            trajectoryForm.get('speed')?.invalid
          "
        >
          <span *ngIf="trajectoryForm.get('speed')?.errors?.['required']">
            Speed is required
          </span>
          <span
            *ngIf="
              trajectoryForm.get('speed')?.errors?.['min'] ||
              trajectoryForm.get('speed')?.errors?.['max']
            "
          >
            Speed must be between 1 and 514 m/s
          </span>
        </div>
      </div>
      <div class="row">
        <label>Weather Source</label>
        <select formControlName="weather_source">
          <option value="machine">Machine</option>
          <option value="api">API</option>
          <option value="calculations">Calculations</option>
        </select>
      </div>
    </div>

    <button
      type="submit"
      class="send-btn"
      [disabled]="loading || trajectoryForm.invalid"
    >
      <span *ngIf="!loading">Create Simulation</span>

      <span *ngIf="loading" class="btn-loading">
        <span class="spinner"></span>
        Sending...
      </span>
    </button>

    <div class="error-banner" *ngIf="errorMsg">
      {{ errorMsg }}
    </div>
  </form>
</div>

<!-- LOADING OVERLAY-->
<div class="loading-overlay" *ngIf="isLoadingOverlay">
  <div class="loader"></div>
</div>

<!-- SUCCESS MODAL-->
<div
  class="success-modal"
  *ngIf="showSuccessModal"
  (click)="closeSuccessModal()"
>
  <div class="success-box" (click)="$event.stopPropagation()">
    <h2>Simulation Completed</h2>
    <p>The trajectory was generated successfully.</p>

    <div class="modal-actions">
      <button type="button" class="close-btn" (click)="closeSuccessModal()">
        Close
      </button>

      <button class="watch-btn" (click)="watchSimulation()">
        Watch Simulation
      </button>
    </div>
  </div>
</div>
