.header {
  width: 4vw;
  height: 60vh;

  position: relative; /* לא absolute */
  z-index: 10000;     /* מעל Cesium */

  background-color: rgba(48, 49, 52, 0.7);
  border-radius: 0 2rem 2rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}


.home-btn {
  background: transparent;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.home-btn img {
  width: 28px;
  height: 28px;
}

.home-btn.active {
  background: rgba(63, 240, 255, 0.1);
  box-shadow:
    0 0 10px rgba(63, 240, 255, 0.6),
    inset 0 0 6px rgba(63, 240, 255, 0.3);
}


